nodered/devices/smart-metering/eastron/SDM630Modbus.json
{
    "id": "059e96357b492b96",
    "label": "SDM630Modbus",
    "disabled": false,
    "info": "",
    "env": [],
    "nodes": [
        {
            "id": "69e4473cf5e5ec89",
            "type": "modbus-flex-getter",
            "z": "059e96357b492b96",
            "name": "",
            "showStatusActivities": false,
            "showErrors": false,
            "showWarnings": true,
            "logIOActivities": false,
            "server": "7547c27f49e25e9c",
            "useIOFile": false,
            "ioFile": "",
            "useIOForPayload": false,
            "emptyMsgOnFail": false,
            "keepMsgProperties": true,
            "delayOnStart": false,
            "startDelayTime": "",
            "x": 650,
            "y": 100,
            "wires": [
                [
                    "951909998ca6669a"
                ],
                []
            ]
        },
        {
            "id": "dd72a78ddbcdbff5",
            "type": "function",
            "z": "059e96357b492b96",
            "name": "Input Registers",
            "func": "msg.payload = { 'fc': 4, 'unitid': 1, 'address': 0, 'quantity': 24 };\n\n\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 440,
            "y": 100,
            "wires": [
                [
                    "69e4473cf5e5ec89"
                ]
            ]
        },
        {
            "id": "951909998ca6669a",
            "type": "buffer-parser",
            "z": "059e96357b492b96",
            "name": "",
            "data": "payload",
            "dataType": "msg",
            "specification": "spec",
            "specificationType": "ui",
            "items": [
                {
                    "type": "floatbe",
                    "name": "Phase 1 volts",
                    "offset": 0,
                    "length": 1,
                    "offsetbit": 0,
                    "scale": "1",
                    "mask": ""
                },
                {
                    "type": "floatbe",
                    "name": "Phase 2 volts",
                    "offset": 4,
                    "length": 1,
                    "offsetbit": 0,
                    "scale": "1",
                    "mask": ""
                },
                {
                    "type": "floatbe",
                    "name": "Phase 3 volts",
                    "offset": 8,
                    "length": 1,
                    "offsetbit": 0,
                    "scale": "1",
                    "mask": ""
                },
                {
                    "type": "floatbe",
                    "name": "Phase 1 current",
                    "offset": 12,
                    "length": 1,
                    "offsetbit": 0,
                    "scale": "1",
                    "mask": ""
                },
                {
                    "type": "floatbe",
                    "name": "Phase 2 current",
                    "offset": 16,
                    "length": 1,
                    "offsetbit": 0,
                    "scale": "1",
                    "mask": ""
                },
                {
                    "type": "floatbe",
                    "name": "Phase 3 current",
                    "offset": 20,
                    "length": 1,
                    "offsetbit": 0,
                    "scale": "1",
                    "mask": ""
                },
                {
                    "type": "floatbe",
                    "name": "Phase 1 power",
                    "offset": 24,
                    "length": 1,
                    "offsetbit": 0,
                    "scale": "1",
                    "mask": ""
                },
                {
                    "type": "floatbe",
                    "name": "Phase 2 power",
                    "offset": 28,
                    "length": 1,
                    "offsetbit": 0,
                    "scale": "1",
                    "mask": ""
                },
                {
                    "type": "floatbe",
                    "name": "Phase 3 power",
                    "offset": 32,
                    "length": 1,
                    "offsetbit": 0,
                    "scale": "1",
                    "mask": ""
                },
                {
                    "type": "floatbe",
                    "name": "Phase 1 volt amps",
                    "offset": 36,
                    "length": 1,
                    "offsetbit": 0,
                    "scale": "1",
                    "mask": ""
                },
                {
                    "type": "floatbe",
                    "name": "Phase 2 volt amps",
                    "offset": 40,
                    "length": 1,
                    "offsetbit": 0,
                    "scale": "1",
                    "mask": ""
                },
                {
                    "type": "floatbe",
                    "name": "Phase 3 volt amps",
                    "offset": 44,
                    "length": 1,
                    "offsetbit": 0,
                    "scale": "1",
                    "mask": ""
                }
            ],
            "swap1": "",
            "swap2": "",
            "swap3": "",
            "swap1Type": "swap",
            "swap2Type": "swap",
            "swap3Type": "swap",
            "msgProperty": "payload",
            "msgPropertyType": "str",
            "resultType": "keyvalue",
            "resultTypeType": "return",
            "multipleResult": false,
            "fanOutMultipleResult": false,
            "setTopic": true,
            "outputs": 1,
            "x": 850,
            "y": 100,
            "wires": [
                [
                    "d6f847e7e9fbaad3"
                ]
            ]
        },
        {
            "id": "45e6ce74ebe4d289",
            "type": "modbus-flex-getter",
            "z": "059e96357b492b96",
            "name": "",
            "showStatusActivities": false,
            "showErrors": false,
            "showWarnings": true,
            "logIOActivities": false,
            "server": "7547c27f49e25e9c",
            "useIOFile": false,
            "ioFile": "",
            "useIOForPayload": false,
            "emptyMsgOnFail": false,
            "keepMsgProperties": true,
            "delayOnStart": false,
            "startDelayTime": "",
            "x": 650,
            "y": 180,
            "wires": [
                [
                    "629d28c122ae0dd2"
                ],
                []
            ]
        },
        {
            "id": "11846148d9d51168",
            "type": "function",
            "z": "059e96357b492b96",
            "name": "Input Registers",
            "func": "msg.payload = { 'fc': 4, 'unitid': 1, 'address': 342, 'quantity': 4 };\n\n\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 440,
            "y": 180,
            "wires": [
                [
                    "45e6ce74ebe4d289"
                ]
            ]
        },
        {
            "id": "629d28c122ae0dd2",
            "type": "buffer-parser",
            "z": "059e96357b492b96",
            "name": "",
            "data": "payload",
            "dataType": "msg",
            "specification": "spec",
            "specificationType": "ui",
            "items": [
                {
                    "type": "floatbe",
                    "name": "Total kwh",
                    "offset": 0,
                    "length": 1,
                    "offsetbit": 0,
                    "scale": "1",
                    "mask": ""
                },
                {
                    "type": "floatbe",
                    "name": "Total kvarh",
                    "offset": 4,
                    "length": 1,
                    "offsetbit": 0,
                    "scale": "1",
                    "mask": ""
                }
            ],
            "swap1": "",
            "swap2": "",
            "swap3": "",
            "swap1Type": "swap",
            "swap2Type": "swap",
            "swap3Type": "swap",
            "msgProperty": "payload",
            "msgPropertyType": "str",
            "resultType": "keyvalue",
            "resultTypeType": "return",
            "multipleResult": false,
            "fanOutMultipleResult": false,
            "setTopic": true,
            "outputs": 1,
            "x": 850,
            "y": 180,
            "wires": [
                [
                    "ab4e69ebd81f4b8a"
                ]
            ]
        },
        {
            "id": "e150fa15183f1adc",
            "type": "modbus-flex-getter",
            "z": "059e96357b492b96",
            "name": "",
            "showStatusActivities": false,
            "showErrors": false,
            "showWarnings": true,
            "logIOActivities": false,
            "server": "7547c27f49e25e9c",
            "useIOFile": false,
            "ioFile": "",
            "useIOForPayload": false,
            "emptyMsgOnFail": false,
            "keepMsgProperties": true,
            "delayOnStart": false,
            "startDelayTime": "",
            "x": 650,
            "y": 240,
            "wires": [
                [
                    "2dde224ad0f04371"
                ],
                []
            ]
        },
        {
            "id": "e480739325f20822",
            "type": "function",
            "z": "059e96357b492b96",
            "name": "Input Registers",
            "func": "msg.payload = { 'fc': 4, 'unitid': 1, 'address': 358, 'quantity': 6 };\n\n\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 440,
            "y": 240,
            "wires": [
                [
                    "e150fa15183f1adc"
                ]
            ]
        },
        {
            "id": "2dde224ad0f04371",
            "type": "buffer-parser",
            "z": "059e96357b492b96",
            "name": "",
            "data": "payload",
            "dataType": "msg",
            "specification": "spec",
            "specificationType": "ui",
            "items": [
                {
                    "type": "floatbe",
                    "name": "L1 total kwh",
                    "offset": 0,
                    "length": 1,
                    "offsetbit": 0,
                    "scale": "1",
                    "mask": ""
                },
                {
                    "type": "floatbe",
                    "name": "L2 total kwh",
                    "offset": 4,
                    "length": 1,
                    "offsetbit": 0,
                    "scale": "1",
                    "mask": ""
                },
                {
                    "type": "floatbe",
                    "name": "L3 total kwh",
                    "offset": 8,
                    "length": 1,
                    "offsetbit": 0,
                    "scale": "1",
                    "mask": ""
                }
            ],
            "swap1": "",
            "swap2": "",
            "swap3": "",
            "swap1Type": "swap",
            "swap2Type": "swap",
            "swap3Type": "swap",
            "msgProperty": "payload",
            "msgPropertyType": "str",
            "resultType": "keyvalue",
            "resultTypeType": "return",
            "multipleResult": false,
            "fanOutMultipleResult": false,
            "setTopic": true,
            "outputs": 1,
            "x": 850,
            "y": 240,
            "wires": [
                [
                    "d776e7f885f92383"
                ]
            ]
        },
        {
            "id": "a154207225567b90",
            "type": "join",
            "z": "059e96357b492b96",
            "name": "",
            "mode": "custom",
            "build": "merged",
            "property": "payload",
            "propertyType": "msg",
            "key": "topic",
            "joiner": "\\n",
            "joinerType": "str",
            "accumulate": false,
            "timeout": "1",
            "count": "",
            "reduceRight": false,
            "reduceExp": "",
            "reduceInit": "",
            "reduceInitType": "num",
            "reduceFixup": "",
            "x": 1190,
            "y": 180,
            "wires": [
                [
                    "aa85a5c6bbd0511d"
                ]
            ]
        },
        {
            "id": "5b23648546b1c667",
            "type": "link in",
            "z": "059e96357b492b96",
            "name": "link in 1",
            "links": [
                "de3e23cc3af03da9"
            ],
            "x": 225,
            "y": 100,
            "wires": [
                [
                    "dd72a78ddbcdbff5",
                    "11846148d9d51168",
                    "e480739325f20822"
                ]
            ]
        },
        {
            "id": "d776e7f885f92383",
            "type": "change",
            "z": "059e96357b492b96",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "topic",
                    "pt": "msg",
                    "to": "sensors",
                    "tot": "str"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 1010,
            "y": 240,
            "wires": [
                [
                    "a154207225567b90"
                ]
            ]
        },
        {
            "id": "ab4e69ebd81f4b8a",
            "type": "change",
            "z": "059e96357b492b96",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "topic",
                    "pt": "msg",
                    "to": "sensors",
                    "tot": "str"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 1010,
            "y": 180,
            "wires": [
                [
                    "a154207225567b90"
                ]
            ]
        },
        {
            "id": "d6f847e7e9fbaad3",
            "type": "change",
            "z": "059e96357b492b96",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "topic",
                    "pt": "msg",
                    "to": "sensors",
                    "tot": "str"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 1010,
            "y": 100,
            "wires": [
                [
                    "a154207225567b90"
                ]
            ]
        },
        {
            "id": "aa85a5c6bbd0511d",
            "type": "function",
            "z": "059e96357b492b96",
            "name": "Set device sensors",
            "func": "var result = global.get(\"cloud.devices\").filter(obj => {\n    return obj.id === \"SDM630Modbus\";\n})\n\nresult.forEach(device => {\n    device.sensors = msg.payload;\n});\n\nreturn msg;",
            "outputs": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 1370,
            "y": 180,
            "wires": []
        },
        {
            "id": "ce1967e3315be1ae",
            "type": "http request",
            "z": "059e96357b492b96",
            "name": "Read Remote Configuration",
            "method": "GET",
            "ret": "txt",
            "paytoqs": "ignore",
            "url": "127.0.0.1/flow/059e96357b492b96",
            "tls": "",
            "persist": false,
            "proxy": "",
            "insecureHTTPParser": false,
            "authType": "",
            "senderr": false,
            "headers": [],
            "x": 520,
            "y": 380,
            "wires": [
                [
                    "9bd552757c09ebf1"
                ]
            ]
        },
        {
            "id": "1bdae2a7ef4f73b9",
            "type": "inject",
            "z": "059e96357b492b96",
            "name": "",
            "props": [
                {
                    "p": "payload"
                },
                {
                    "p": "topic",
                    "vt": "str"
                }
            ],
            "repeat": "",
            "crontab": "",
            "once": false,
            "onceDelay": 0.1,
            "topic": "",
            "payload": "",
            "payloadType": "date",
            "x": 300,
            "y": 380,
            "wires": [
                [
                    "ce1967e3315be1ae"
                ]
            ]
        },
        {
            "id": "5f1bcdf783497900",
            "type": "debug",
            "z": "059e96357b492b96",
            "name": "debug 1",
            "active": true,
            "tosidebar": true,
            "console": false,
            "tostatus": false,
            "complete": "false",
            "statusVal": "",
            "statusType": "auto",
            "x": 840,
            "y": 420,
            "wires": []
        },
        {
            "id": "9bd552757c09ebf1",
            "type": "json",
            "z": "059e96357b492b96",
            "name": "",
            "property": "payload",
            "action": "",
            "pretty": true,
            "x": 730,
            "y": 420,
            "wires": [
                [
                    "5f1bcdf783497900"
                ]
            ]
        }
    ]
}