nodered/devices/generic/edatec/EDATEC-INUDSTRIAL.json
{
    "id": "c864b8343153080e",
    "label": "xAceti2BJhJ11nk9eo9A21",
    "disabled": false,
    "info": "",
    "env": [],
    "nodes": [
        {
            "id": "w0qg6hn09u81bqxz",
            "type": "mqtt in",
            "z": "c864b8343153080e",
            "name": "Command",
            "topic": "",
            "qos": "2",
            "datatype": "auto-detect",
            "broker": "de96f526d294fb46",
            "nl": false,
            "rap": true,
            "rh": 0,
            "inputs": 1,
            "x": 120,
            "y": 680,
            "wires": [
                [
                    "658hge5bz0um1438",
                    "is7i8iy13flxp6gq"
                ]
            ]
        },
        {
            "id": "5mg9i5eoycxfwp8e",
            "type": "mqtt out",
            "z": "c864b8343153080e",
            "name": "",
            "topic": "cloud/upstream/data",
            "qos": "2",
            "retain": "true",
            "respTopic": "",
            "contentType": "",
            "userProps": "",
            "correl": "",
            "expiry": "",
            "broker": "de96f526d294fb46",
            "x": 1240,
            "y": 680,
            "wires": []
        },
        {
            "id": "a32e36v1jm7pgvlx",
            "type": "inject",
            "z": "c864b8343153080e",
            "name": "",
            "props": [
                {
                    "p": "payload"
                }
            ],
            "repeat": "1800",
            "crontab": "",
            "once": true,
            "onceDelay": "10",
            "topic": "",
            "payload": "{}",
            "payloadType": "json",
            "x": 130,
            "y": 560,
            "wires": [
                [
                    "l85jsqwwve9ip2b8"
                ]
            ]
        },
        {
            "id": "kqvgk0zji4e3pize",
            "type": "function",
            "z": "c864b8343153080e",
            "name": "Set Command for this device",
            "func": "msg.action = \"subscribe\";\nmsg.topic = {\n    \"qos\": 2,\n    \"topic\": \"device/command/\" + flow.get(\"device\").node.id\n}\n\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 180,
            "y": 640,
            "wires": [
                [
                    "w0qg6hn09u81bqxz"
                ]
            ]
        },
        {
            "id": "ylcha93zpf4bkpgt",
            "type": "inject",
            "z": "c864b8343153080e",
            "name": "Startup",
            "props": [
                {
                    "p": "payload"
                }
            ],
            "repeat": "",
            "crontab": "",
            "once": true,
            "onceDelay": "3",
            "topic": "",
            "payload": "",
            "payloadType": "date",
            "x": 160,
            "y": 80,
            "wires": [
                [
                    "dzexjseecvvppuam"
                ]
            ]
        },
        {
            "id": "dzexjseecvvppuam",
            "type": "getflows",
            "z": "c864b8343153080e",
            "name": "",
            "x": 320,
            "y": 80,
            "wires": [
                [
                    "nisxj2bkybhj4kxa"
                ]
            ]
        },
        {
            "id": "nisxj2bkybhj4kxa",
            "type": "function",
            "z": "c864b8343153080e",
            "name": "Init",
            "func": "var device = global.get(\"cloud.devices\").find(device => {\n    return device.node.id === msg.payload.find(flow => flow.id === msg.thisflow).label;\n})\n\nflow.set(\"device\", {\n    \"node\": device.node,\n    \"data\": device.data,\n    \"protocol\": device.protocol,\n    \"uplink\": device.uplink,\n    \"downlink\": device.downlink,\n    \"sensors\": {},\n    \"errors\": {},\n    \"states\": {}\n});\n\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 450,
            "y": 80,
            "wires": [
                [
                    "yincdzejoh43xd19"
                ]
            ]
        },
        {
            "id": "l85jsqwwve9ip2b8",
            "type": "switch",
            "z": "c864b8343153080e",
            "name": "Config correct",
            "property": "device.node",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "null"
                },
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 2,
            "x": 140,
            "y": 600,
            "wires": [
                [
                    "6pwv3t9xzii3u47o"
                ],
                [
                    "kqvgk0zji4e3pize"
                ]
            ]
        },
        {
            "id": "6pwv3t9xzii3u47o",
            "type": "function",
            "z": "c864b8343153080e",
            "name": "Error",
            "func": "node.warn(\"The device configuration is wrong!\")\nnode.done()",
            "outputs": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 330,
            "y": 600,
            "wires": []
        },
        {
            "id": "gvopmne3k92c3sqv",
            "type": "mqtt out",
            "z": "c864b8343153080e",
            "name": "",
            "topic": "cloud/upstream/error",
            "qos": "2",
            "retain": "true",
            "respTopic": "",
            "contentType": "",
            "userProps": "",
            "correl": "",
            "expiry": "",
            "broker": "de96f526d294fb46",
            "x": 1820,
            "y": 500,
            "wires": []
        },
        {
            "id": "hn6zg3tscwru4wzw",
            "type": "modbus-flex-connector",
            "z": "c864b8343153080e",
            "name": "Channel 1 Connector",
            "maxReconnectsPerMinute": 4,
            "emptyQueue": false,
            "showStatusActivities": true,
            "showErrors": true,
            "server": "fbvjk0r298auh66k",
            "x": 1080,
            "y": 80,
            "wires": [
                []
            ]
        },
        {
            "id": "1na0u625rgj73eah",
            "type": "modbus-flex-connector",
            "z": "c864b8343153080e",
            "name": "Channel 2 Connector",
            "maxReconnectsPerMinute": 4,
            "emptyQueue": false,
            "showStatusActivities": true,
            "showErrors": true,
            "server": "pjbpwrb1m8xi4dzf",
            "x": 1080,
            "y": 120,
            "wires": [
                []
            ]
        },
        {
            "id": "12dbva5v9nkyoxf4",
            "type": "modbus-flex-sequencer",
            "z": "c864b8343153080e",
            "name": "Channel 2 Read",
            "sequences": [
                {
                    "name": "Test",
                    "unitid": "1",
                    "fc": "FC3",
                    "address": "1",
                    "quantity": "1"
                }
            ],
            "server": "pjbpwrb1m8xi4dzf",
            "showStatusActivities": true,
            "showErrors": true,
            "showWarnings": true,
            "logIOActivities": false,
            "useIOFile": false,
            "ioFile": "",
            "useIOForPayload": false,
            "emptyMsgOnFail": false,
            "keepMsgProperties": true,
            "delayOnStart": false,
            "startDelayTime": "",
            "x": 740,
            "y": 380,
            "wires": [
                [
                    "9wuhomjxc1rye94e",
                    "ceejuyfhbo28ip74"
                ],
                []
            ]
        },
        {
            "id": "6xe1kxowi19hibvn",
            "type": "modbus-flex-sequencer",
            "z": "c864b8343153080e",
            "name": "Channel 1 Read",
            "sequences": [
                {
                    "name": "Test",
                    "unitid": "1",
                    "fc": "FC3",
                    "address": "1",
                    "quantity": "1"
                }
            ],
            "server": "fbvjk0r298auh66k",
            "showStatusActivities": true,
            "showErrors": true,
            "showWarnings": true,
            "logIOActivities": false,
            "useIOFile": false,
            "ioFile": "",
            "useIOForPayload": false,
            "emptyMsgOnFail": false,
            "keepMsgProperties": true,
            "delayOnStart": false,
            "startDelayTime": "",
            "x": 740,
            "y": 320,
            "wires": [
                [
                    "9wuhomjxc1rye94e",
                    "ceejuyfhbo28ip74"
                ],
                []
            ]
        },
        {
            "id": "znub6y91cz9wkgyn",
            "type": "function",
            "z": "c864b8343153080e",
            "name": "send data based on config channel 1",
            "func": "msg.payload = \"\";\n\nmsg.sequences = flow.get(\"device.data\").filter(dataPoint => dataPoint.protocol.channel === 1).map(dataPoint => {\n    return { \n        dataPoint: dataPoint,\n        name: dataPoint.id, \n        fc: dataPoint.protocol.fc, \n        address: dataPoint.protocol.address, \n        unitid: flow.get(\"device.node.unitId\"), \n        quantity: global.get(\"function.typeToRegisterLength\")(dataPoint.protocol.type)\n    };\n});\n\nif (msg.sequences.length > 0){\n    node.send(msg);\n} else {\n    node.done();\n}\n\nnode.done();\n",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 430,
            "y": 320,
            "wires": [
                [
                    "6xe1kxowi19hibvn"
                ]
            ]
        },
        {
            "id": "txgcugopcpfhnkha",
            "type": "comment",
            "z": "c864b8343153080e",
            "name": "----- Register for commands from cloud",
            "info": "",
            "x": 150,
            "y": 500,
            "wires": []
        },
        {
            "id": "durx449072vam7fw",
            "type": "comment",
            "z": "c864b8343153080e",
            "name": "---- Connections initialization",
            "info": "",
            "x": 120,
            "y": 20,
            "wires": []
        },
        {
            "id": "yihezquc2q3ipo8u",
            "type": "function",
            "z": "c864b8343153080e",
            "name": "Set parameters channel 1",
            "func": "const protocolParameter = flow.get(\"device.protocol\");\nconst channel = global.get(\"device.interface.serial.channels\").find(channel => channel.id === 1);\n\nif (channel && protocolParameter.channel === 1) {\n    msg.payload = {\n        \"connectorType\": channel.connectorType,\n        \"serialPort\": channel.serialPort,\n        \"serialBaudrate\": protocolParameter.serialBaudrate ? protocolParameter.serialBaudrate : 19200,\n        \"serialDatabits\": protocolParameter.serialDatabits ? protocolParameter.serialDatabits : 8,\n        \"serialStopbits\": protocolParameter.serialStopbits ? protocolParameter.serialStopbits : 1,\n        \"serialParity\": protocolParameter.serialParity ? protocolParameter.serialParity : \"none\",\n        \"serialType\": protocolParameter.serialType ? protocolParameter.serialType : \"RTU-BUFFERD\",\n        \"serialConnectionDelay\": protocolParameter.serialConnectionDelay ? protocolParameter.serialConnectionDelay : 100,\n        \"unitId\": protocolParameter.unitId ? protocolParameter.unitId : 1,\n        \"commandDelay\": protocolParameter.commandDelay ? protocolParameter.commandDelay : 5,\n        \"clientTimeout\": protocolParameter.clientTimeout ? protocolParameter.clientTimeout : 1000,\n        \"reconnectTimeout\": protocolParameter.reconnectTimeout ? protocolParameter.reconnectTimeout : 2000\n    };\n\n    node.send(msg);\n} else {\n    node.done()\n}\n\nnode.done()\n",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 810,
            "y": 80,
            "wires": [
                [
                    "hn6zg3tscwru4wzw"
                ]
            ]
        },
        {
            "id": "yincdzejoh43xd19",
            "type": "switch",
            "z": "c864b8343153080e",
            "name": "Config correct",
            "property": "device.node",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 600,
            "y": 80,
            "wires": [
                [
                    "yihezquc2q3ipo8u",
                    "t88i7le3b6kcdzxc"
                ]
            ]
        },
        {
            "id": "whq23l3gpchhrn4y",
            "type": "comment",
            "z": "c864b8343153080e",
            "name": "---- Data",
            "info": "",
            "x": 60,
            "y": 200,
            "wires": []
        },
        {
            "id": "9wuhomjxc1rye94e",
            "type": "function",
            "z": "c864b8343153080e",
            "name": "Set telemetry data point values",
            "func": "if (msg.dataPoint.protocol.type !== \"bool\") {\n    msg.spec = {\n        \"options\":\n        {\n            \"byteSwap\": false,\n            \"resultType\": \"keyvalue\",\n            \"singleResult\": true,\n            \"setTopic\": true,\n            \"msgProperty\": \"payload\",\n        },\n        \"items\": []\n    }\n\n    msg.spec.items = [\n        {\n            \"name\": msg.name,\n            \"type\": msg.dataPoint.protocol.type,\n            \"length \": global.get(\"function.typeToRegisterLength\")(msg.dataPoint.protocol.type),\n            \"offset\": 0,\n            \"offsetbit\": msg.dataPoint.protocol.offsetbit,\n            \"scale\": msg.dataPoint.protocol.scale.toString(),\n            \"mask\": msg.dataPoint.protocol.mask\n        }\n    ];\n\n    node.send(msg);\n}\n\nnode.done();\n",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 1050,
            "y": 340,
            "wires": [
                [
                    "5ylitzpi0j5rh5tk"
                ]
            ]
        },
        {
            "id": "5ylitzpi0j5rh5tk",
            "type": "buffer-parser",
            "z": "c864b8343153080e",
            "name": "",
            "data": "payload",
            "dataType": "msg",
            "specification": "spec",
            "specificationType": "msg",
            "items": [
                {
                    "type": "int16be",
                    "name": "item1",
                    "offset": 0,
                    "length": 1,
                    "offsetbit": 0,
                    "scale": "0.1",
                    "mask": ""
                }
            ],
            "swap1": "",
            "swap2": "",
            "swap3": "",
            "swap1Type": "swap",
            "swap2Type": "swap",
            "swap3Type": "swap",
            "msgProperty": "payload",
            "msgPropertyType": "str",
            "resultType": "keyvalue",
            "resultTypeType": "return",
            "multipleResult": false,
            "fanOutMultipleResult": false,
            "setTopic": true,
            "outputs": 1,
            "x": 1370,
            "y": 340,
            "wires": [
                [
                    "h031cj1u2x9mox8a"
                ]
            ]
        },
        {
            "id": "leggxn0chf8ztu8d",
            "type": "switch",
            "z": "c864b8343153080e",
            "name": "Config correct",
            "property": "device.node",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 160,
            "y": 320,
            "wires": [
                [
                    "znub6y91cz9wkgyn",
                    "pfcrszol5e9z5h6d"
                ]
            ]
        },
        {
            "id": "h031cj1u2x9mox8a",
            "type": "function",
            "z": "c864b8343153080e",
            "name": "Set sensor value on device",
            "func": "var device = global.get(\"cloud.devices\").find(device => {\n    return device.node.id === flow.get(\"device\").node.id\n})\n\nfor (var propertyName in msg.payload) {\n    if (typeof msg.payload[propertyName] === 'number') {\n        // Round to 2 decimal\n        msg.payload[propertyName] = Math.round((msg.payload[propertyName] + Number.EPSILON) * 100) / 100\n    }\n    if (msg.dataPoint.protocol.type === \"bool\" && msg.dataPoint.protocol.isError) {\n        if (msg.payload[propertyName]) {\n            device.errors[propertyName] = msg.payload[propertyName];\n            flow.get(\"device\").errors[propertyName] = msg.payload[propertyName];\n        } else {\n            delete device.errors[propertyName];\n            delete flow.get(\"device\").errors[propertyName];\n        }\n    } else if (msg.dataPoint.protocol.type === \"bool\") {\n        device.states[propertyName] = msg.payload[propertyName];\n        flow.get(\"device\").states[propertyName] = msg.payload[propertyName];\n    } else {\n        device.sensors[propertyName] = msg.payload[propertyName];\n        flow.get(\"device\").sensors[propertyName] = msg.payload[propertyName];\n    }\n}\n\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 1600,
            "y": 380,
            "wires": [
                [
                    "6ayfn24julx7zm80"
                ]
            ]
        },
        {
            "id": "4gsm9245adddhn3e",
            "type": "inject",
            "z": "c864b8343153080e",
            "name": "Read intervall",
            "props": [
                {
                    "p": "payload"
                },
                {
                    "p": "topic",
                    "vt": "str"
                }
            ],
            "repeat": "20",
            "crontab": "",
            "once": true,
            "onceDelay": "10",
            "topic": "",
            "payload": "",
            "payloadType": "date",
            "x": 160,
            "y": 260,
            "wires": [
                [
                    "leggxn0chf8ztu8d"
                ]
            ]
        },
        {
            "id": "pfcrszol5e9z5h6d",
            "type": "function",
            "z": "c864b8343153080e",
            "name": "send data based on config channel 2",
            "func": "msg.payload = \"\";\n\nmsg.sequences = flow.get(\"device.data\").filter(dataPoint => dataPoint.protocol.channel === 2).map(dataPoint => {\n    return { \n        dataPoint: dataPoint,\n        name: dataPoint.id, \n        fc: dataPoint.protocol.fc, \n        address: dataPoint.protocol.address, \n        unitid: flow.get(\"device.node.unitId\"), \n        quantity: global.get(\"function.typeToRegisterLength\")(dataPoint.protocol.type)\n    };\n});\n\nif (msg.sequences.length > 0){\n    node.send(msg);\n} else {\n    node.done();\n}\n\nnode.done();\n",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 430,
            "y": 380,
            "wires": [
                [
                    "12dbva5v9nkyoxf4"
                ]
            ]
        },
        {
            "id": "t88i7le3b6kcdzxc",
            "type": "function",
            "z": "c864b8343153080e",
            "name": "Set parameters channel 2",
            "func": "const protocolParameter = flow.get(\"device.protocol\");\nconst channel = global.get(\"device.interface.serial.channels\").find(channel => channel.id === 2);\n\nif (channel && protocolParameter.channel === 2) {\n    msg.payload = {\n        \"connectorType\": channel.connectorType,\n        \"serialPort\": channel.serialPort,\n        \"serialBaudrate\": protocolParameter.serialBaudrate ? protocolParameter.serialBaudrate : 19200,\n        \"serialDatabits\": protocolParameter.serialDatabits ? protocolParameter.serialDatabits : 8,\n        \"serialStopbits\": protocolParameter.serialStopbits ? protocolParameter.serialStopbits : 1,\n        \"serialParity\": protocolParameter.serialParity ? protocolParameter.serialParity : \"none\",\n        \"serialType\": protocolParameter.serialType ? protocolParameter.serialType : \"RTU-BUFFERD\",\n        \"serialConnectionDelay\": protocolParameter.serialConnectionDelay ? protocolParameter.serialConnectionDelay : 100,\n        \"unitId\": protocolParameter.unitId ? protocolParameter.unitId : 1,\n        \"commandDelay\": protocolParameter.commandDelay ? protocolParameter.commandDelay : 5,\n        \"clientTimeout\": protocolParameter.clientTimeout ? protocolParameter.clientTimeout : 1000,\n        \"reconnectTimeout\": protocolParameter.reconnectTimeout ? protocolParameter.reconnectTimeout : 2000\n    };\n\n    node.send(msg);\n} else {\n    node.done()\n}\n\nnode.done()\n",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 810,
            "y": 120,
            "wires": [
                [
                    "1na0u625rgj73eah"
                ]
            ]
        },
        {
            "id": "ceejuyfhbo28ip74",
            "type": "function",
            "z": "c864b8343153080e",
            "name": "Set state data point values",
            "func": "if (msg.dataPoint.protocol.type === \"bool\") {\n    var payload = {};\n    payload[msg.name] = msg.payload[msg.dataPoint.protocol.offsetbit];\n\n    if (msg.dataPoint.protocol.invert) {\n        payload[msg.name] = !payload[msg.name];\n    }\n\n    msg.payload = payload;\n\n    node.send(msg);\n}\n\nnode.done();\n",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 1040,
            "y": 380,
            "wires": [
                [
                    "h031cj1u2x9mox8a"
                ]
            ]
        },
        {
            "id": "adq6p3gcshd8x6cu",
            "type": "switch",
            "z": "c864b8343153080e",
            "name": "",
            "property": "device.errors",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "nempty"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 1650,
            "y": 500,
            "wires": [
                [
                    "gvopmne3k92c3sqv"
                ]
            ]
        },
        {
            "id": "6ayfn24julx7zm80",
            "type": "switch",
            "z": "c864b8343153080e",
            "name": "",
            "property": "device.errors",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 1530,
            "y": 500,
            "wires": [
                [
                    "adq6p3gcshd8x6cu"
                ]
            ]
        },
        {
            "id": "658hge5bz0um1438",
            "type": "function",
            "z": "c864b8343153080e",
            "name": "send write data channel 1",
            "func": "if (msg.payload.dataPoint.protocol.channel === 1){\n    if (msg.payload.dataPoint.protocol.type === \"bool\"){\n        if (msg.payload.dataPoint.protocol.invert){\n            msg.payload.value = !msg.payload.value;\n        }\n        msg.payload = {\n            \"value\": msg.payload.value,\n            \"fc\": 5,\n            \"unitid\": flow.get(\"device.node.unitId\"),\n            \"address\": msg.payload.dataPoint.protocol.address,\n            \"quantity\": 1\n        } \n    } else {\n        msg.payload = {\n            \"value\": parseInt(msg.payload.value) * (1 / msg.payload.dataPoint.protocol.scale),\n            \"fc\": 16,\n            \"unitid\": flow.get(\"device.node.unitId\"),\n            \"address\": msg.payload.dataPoint.protocol.address,\n            \"quantity\": global.get(\"function.typeToRegisterLength\")(msg.payload.dataPoint.protocol.type)\n        } \n    }\n\n    node.send (msg);\n}\n\nnode.done();\n\n",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 390,
            "y": 680,
            "wires": [
                [
                    "i7hg1ax44jh8y05d"
                ]
            ]
        },
        {
            "id": "i7hg1ax44jh8y05d",
            "type": "modbus-flex-write",
            "z": "c864b8343153080e",
            "name": "Channel 1",
            "showStatusActivities": true,
            "showErrors": true,
            "showWarnings": true,
            "server": "fbvjk0r298auh66k",
            "emptyMsgOnFail": false,
            "keepMsgProperties": true,
            "delayOnStart": false,
            "startDelayTime": "",
            "x": 750,
            "y": 680,
            "wires": [
                [
                    "leggxn0chf8ztu8d",
                    "odb1m6esfz4q7zuj"
                ],
                []
            ]
        },
        {
            "id": "eode4tyqlszylq1y",
            "type": "modbus-flex-write",
            "z": "c864b8343153080e",
            "name": "Channel 2",
            "showStatusActivities": true,
            "showErrors": true,
            "showWarnings": true,
            "server": "pjbpwrb1m8xi4dzf",
            "emptyMsgOnFail": false,
            "keepMsgProperties": true,
            "delayOnStart": false,
            "startDelayTime": "",
            "x": 750,
            "y": 720,
            "wires": [
                [
                    "leggxn0chf8ztu8d",
                    "odb1m6esfz4q7zuj"
                ],
                []
            ]
        },
        {
            "id": "is7i8iy13flxp6gq",
            "type": "function",
            "z": "c864b8343153080e",
            "name": "send write data channel 2",
            "func": "if (msg.payload.dataPoint.protocol.channel === 2){\n    if (msg.payload.dataPoint.protocol.type === \"bool\"){\n        if (msg.payload.dataPoint.protocol.invert){\n            msg.payload.value = !msg.payload.value;\n        }\n        msg.payload = {\n            \"value\": msg.payload.value,\n            \"fc\": 5,\n            \"unitid\": flow.get(\"device.node.unitId\"),\n            \"address\": msg.payload.dataPoint.protocol.address,\n            \"quantity\": 1\n        } \n    } else {\n        msg.payload = {\n            \"value\": parseInt(msg.payload.value) * (1 / msg.payload.dataPoint.protocol.scale),\n            \"fc\": 16,\n            \"unitid\": flow.get(\"device.node.unitId\"),\n            \"address\": msg.payload.dataPoint.protocol.address,\n            \"quantity\": global.get(\"function.typeToRegisterLength\")(msg.payload.dataPoint.protocol.type)\n        } \n    }\n\n    node.send (msg);\n}\n\nnode.done();\n\n",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 390,
            "y": 720,
            "wires": [
                [
                    "eode4tyqlszylq1y"
                ]
            ]
        },
        {
            "id": "odb1m6esfz4q7zuj",
            "type": "delay",
            "z": "c864b8343153080e",
            "name": "",
            "pauseType": "delay",
            "timeout": "10",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 1040,
            "y": 680,
            "wires": [
                [
                    "5mg9i5eoycxfwp8e"
                ]
            ]
        }
    ]
}