nodered/devices/generic/edatec/EDATEC-INUDSTRIAL.json
{
    "id": "4d33ee5fd63100e9",
    "label": "iQd7r77o98NRnT4fF6E6jA",
    "disabled": false,
    "info": "",
    "env": [],
    "nodes": [
        {
            "id": "e0dqwcbsku1rdx6d",
            "type": "mqtt in",
            "z": "4d33ee5fd63100e9",
            "name": "Command",
            "topic": "",
            "qos": "2",
            "datatype": "auto-detect",
            "broker": "de96f526d294fb46",
            "nl": false,
            "rap": true,
            "rh": 0,
            "inputs": 1,
            "x": 120,
            "y": 680,
            "wires": [
                [
                    "n69zuaybfobapm9d",
                    "509eephe6ryqqpdf"
                ]
            ]
        },
        {
            "id": "eylffacn8sydpm5s",
            "type": "mqtt out",
            "z": "4d33ee5fd63100e9",
            "name": "",
            "topic": "cloud/upstream/data",
            "qos": "2",
            "retain": "true",
            "respTopic": "",
            "contentType": "",
            "userProps": "",
            "correl": "",
            "expiry": "",
            "broker": "de96f526d294fb46",
            "x": 1240,
            "y": 680,
            "wires": []
        },
        {
            "id": "xucpl2o5t5exp1m3",
            "type": "inject",
            "z": "4d33ee5fd63100e9",
            "name": "",
            "props": [
                {
                    "p": "payload"
                }
            ],
            "repeat": "1800",
            "crontab": "",
            "once": true,
            "onceDelay": "10",
            "topic": "",
            "payload": "{}",
            "payloadType": "json",
            "x": 130,
            "y": 560,
            "wires": [
                [
                    "csgokrnf8viwl36i"
                ]
            ]
        },
        {
            "id": "60aibkch0a0u9427",
            "type": "function",
            "z": "4d33ee5fd63100e9",
            "name": "Set Command for this device",
            "func": "msg.action = \"subscribe\";\nmsg.topic = {\n    \"qos\": 2,\n    \"topic\": \"device/command/\" + flow.get(\"device\").node.id\n}\n\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 180,
            "y": 640,
            "wires": [
                [
                    "e0dqwcbsku1rdx6d"
                ]
            ]
        },
        {
            "id": "aitbe2uah7kbh9dj",
            "type": "inject",
            "z": "4d33ee5fd63100e9",
            "name": "Startup",
            "props": [
                {
                    "p": "payload"
                }
            ],
            "repeat": "",
            "crontab": "",
            "once": true,
            "onceDelay": "3",
            "topic": "",
            "payload": "",
            "payloadType": "date",
            "x": 160,
            "y": 80,
            "wires": [
                [
                    "9xa8n94z1u0x32vf"
                ]
            ]
        },
        {
            "id": "9xa8n94z1u0x32vf",
            "type": "getflows",
            "z": "4d33ee5fd63100e9",
            "name": "",
            "x": 320,
            "y": 80,
            "wires": [
                [
                    "xw3jp850et1ie7rs"
                ]
            ]
        },
        {
            "id": "xw3jp850et1ie7rs",
            "type": "function",
            "z": "4d33ee5fd63100e9",
            "name": "Init",
            "func": "var device = global.get(\"cloud.devices\").find(device => {\n    return device.node.id === msg.payload.find(flow => flow.id === msg.thisflow).label;\n})\n\nflow.set(\"device\", {\n    \"node\": device.node,\n    \"data\": device.data,\n    \"protocol\": device.protocol,\n    \"uplink\": device.uplink,\n    \"downlink\": device.downlink,\n    \"sensors\": {},\n    \"errors\": {},\n    \"states\": {}\n});\n\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 450,
            "y": 80,
            "wires": [
                [
                    "29e0iosurb151vq1"
                ]
            ]
        },
        {
            "id": "csgokrnf8viwl36i",
            "type": "switch",
            "z": "4d33ee5fd63100e9",
            "name": "Config correct",
            "property": "device.node",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "null"
                },
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 2,
            "x": 140,
            "y": 600,
            "wires": [
                [
                    "2l4l7699m5ay9srv"
                ],
                [
                    "60aibkch0a0u9427"
                ]
            ]
        },
        {
            "id": "2l4l7699m5ay9srv",
            "type": "function",
            "z": "4d33ee5fd63100e9",
            "name": "Error",
            "func": "node.warn(\"The device configuration is wrong!\")\nnode.done()",
            "outputs": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 330,
            "y": 600,
            "wires": []
        },
        {
            "id": "lr2n5ds9pt845v68",
            "type": "modbus-flex-connector",
            "z": "4d33ee5fd63100e9",
            "name": "Channel 1 Connector",
            "maxReconnectsPerMinute": 4,
            "emptyQueue": false,
            "showStatusActivities": true,
            "showErrors": true,
            "server": "fbvjk0r298auh66k",
            "x": 1080,
            "y": 80,
            "wires": [
                []
            ]
        },
        {
            "id": "mfrlg1iwk1u5ot6a",
            "type": "modbus-flex-connector",
            "z": "4d33ee5fd63100e9",
            "name": "Channel 2 Connector",
            "maxReconnectsPerMinute": 4,
            "emptyQueue": false,
            "showStatusActivities": true,
            "showErrors": true,
            "server": "pjbpwrb1m8xi4dzf",
            "x": 1080,
            "y": 120,
            "wires": [
                []
            ]
        },
        {
            "id": "x5g46fp8i7hlmvmk",
            "type": "modbus-flex-sequencer",
            "z": "4d33ee5fd63100e9",
            "name": "Channel 2 Read",
            "sequences": [
                {
                    "name": "Test",
                    "unitid": "1",
                    "fc": "FC3",
                    "address": "1",
                    "quantity": "1"
                }
            ],
            "server": "pjbpwrb1m8xi4dzf",
            "showStatusActivities": true,
            "showErrors": true,
            "showWarnings": true,
            "logIOActivities": false,
            "useIOFile": false,
            "ioFile": "",
            "useIOForPayload": false,
            "emptyMsgOnFail": false,
            "keepMsgProperties": true,
            "delayOnStart": false,
            "startDelayTime": "",
            "x": 740,
            "y": 380,
            "wires": [
                [
                    "akw7sqec5xmepndb",
                    "5iopqfibbab6tzy8"
                ],
                []
            ]
        },
        {
            "id": "vxbn4668dz68mkm8",
            "type": "modbus-flex-sequencer",
            "z": "4d33ee5fd63100e9",
            "name": "Channel 1 Read",
            "sequences": [
                {
                    "name": "Test",
                    "unitid": "1",
                    "fc": "FC3",
                    "address": "1",
                    "quantity": "1"
                }
            ],
            "server": "fbvjk0r298auh66k",
            "showStatusActivities": true,
            "showErrors": true,
            "showWarnings": true,
            "logIOActivities": false,
            "useIOFile": false,
            "ioFile": "",
            "useIOForPayload": false,
            "emptyMsgOnFail": false,
            "keepMsgProperties": true,
            "delayOnStart": false,
            "startDelayTime": "",
            "x": 740,
            "y": 320,
            "wires": [
                [
                    "akw7sqec5xmepndb",
                    "5iopqfibbab6tzy8"
                ],
                []
            ]
        },
        {
            "id": "uskr2fqak9whcga7",
            "type": "function",
            "z": "4d33ee5fd63100e9",
            "name": "send data based on config channel 1",
            "func": "msg.payload = \"\";\n\nmsg.sequences = flow.get(\"device.data\").filter(dataPoint => dataPoint.protocol.channel === 1).map(dataPoint => {\n    return { \n        dataPoint: dataPoint,\n        name: dataPoint.id, \n        fc: dataPoint.protocol.fc, \n        address: dataPoint.protocol.address, \n        unitid: flow.get(\"device.node.unitId\"), \n        quantity: global.get(\"function.typeToRegisterLength\")(dataPoint.protocol.type)\n    };\n});\n\nif (msg.sequences.length > 0){\n    node.send(msg);\n} else {\n    node.done();\n}\n\nnode.done();\n",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 430,
            "y": 320,
            "wires": [
                [
                    "vxbn4668dz68mkm8"
                ]
            ]
        },
        {
            "id": "i54ke44z6m8ilsa7",
            "type": "comment",
            "z": "4d33ee5fd63100e9",
            "name": "----- Register for commands from cloud",
            "info": "",
            "x": 150,
            "y": 500,
            "wires": []
        },
        {
            "id": "gbcq7hu9wnhjo2o4",
            "type": "comment",
            "z": "4d33ee5fd63100e9",
            "name": "---- Connections initialization",
            "info": "",
            "x": 120,
            "y": 20,
            "wires": []
        },
        {
            "id": "lvql970695dgyvou",
            "type": "function",
            "z": "4d33ee5fd63100e9",
            "name": "Set parameters channel 1",
            "func": "const protocolParameter = flow.get(\"device.protocol\");\nconst channel = global.get(\"device.interface.serial.channels\").find(channel => channel.id === 1);\n\nif (channel && protocolParameter.channel === 1) {\n    msg.payload = {\n        \"connectorType\": channel.connectorType,\n        \"serialPort\": channel.serialPort,\n        \"serialBaudrate\": protocolParameter.serialBaudrate ? protocolParameter.serialBaudrate : 19200,\n        \"serialDatabits\": protocolParameter.serialDatabits ? protocolParameter.serialDatabits : 8,\n        \"serialStopbits\": protocolParameter.serialStopbits ? protocolParameter.serialStopbits : 1,\n        \"serialParity\": protocolParameter.serialParity ? protocolParameter.serialParity : \"none\",\n        \"serialType\": protocolParameter.serialType ? protocolParameter.serialType : \"RTU-BUFFERD\",\n        \"serialConnectionDelay\": protocolParameter.serialConnectionDelay ? protocolParameter.serialConnectionDelay : 100,\n        \"unitId\": protocolParameter.unitId ? protocolParameter.unitId : 1,\n        \"commandDelay\": protocolParameter.commandDelay ? protocolParameter.commandDelay : 5,\n        \"clientTimeout\": protocolParameter.clientTimeout ? protocolParameter.clientTimeout : 1000,\n        \"reconnectTimeout\": protocolParameter.reconnectTimeout ? protocolParameter.reconnectTimeout : 2000\n    };\n\n    node.send(msg);\n} else {\n    node.done()\n}\n\nnode.done()\n",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 810,
            "y": 80,
            "wires": [
                [
                    "lr2n5ds9pt845v68"
                ]
            ]
        },
        {
            "id": "29e0iosurb151vq1",
            "type": "switch",
            "z": "4d33ee5fd63100e9",
            "name": "Config correct",
            "property": "device.node",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 600,
            "y": 80,
            "wires": [
                [
                    "lvql970695dgyvou",
                    "t1i7rtiuim57fpo6"
                ]
            ]
        },
        {
            "id": "r6dtv6a2ykn3yuse",
            "type": "comment",
            "z": "4d33ee5fd63100e9",
            "name": "---- Data",
            "info": "",
            "x": 60,
            "y": 200,
            "wires": []
        },
        {
            "id": "akw7sqec5xmepndb",
            "type": "function",
            "z": "4d33ee5fd63100e9",
            "name": "Set telemetry data point values",
            "func": "if (msg.dataPoint.protocol.type !== \"bool\") {\n    msg.spec = {\n        \"options\":\n        {\n            \"byteSwap\": false,\n            \"resultType\": \"keyvalue\",\n            \"singleResult\": true,\n            \"setTopic\": true,\n            \"msgProperty\": \"payload\",\n        },\n        \"items\": []\n    }\n\n    msg.spec.items = [\n        {\n            \"name\": msg.name,\n            \"type\": msg.dataPoint.protocol.type,\n            \"length \": global.get(\"function.typeToRegisterLength\")(msg.dataPoint.protocol.type),\n            \"offset\": 0,\n            \"offsetbit\": msg.dataPoint.protocol.offsetbit,\n            \"scale\": msg.dataPoint.protocol.scale.toString(),\n            \"mask\": msg.dataPoint.protocol.mask\n        }\n    ];\n\n    node.send(msg);\n}\n\nnode.done();\n",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 1050,
            "y": 340,
            "wires": [
                [
                    "nas9akmn8v6vtum5"
                ]
            ]
        },
        {
            "id": "nas9akmn8v6vtum5",
            "type": "buffer-parser",
            "z": "4d33ee5fd63100e9",
            "name": "",
            "data": "payload",
            "dataType": "msg",
            "specification": "spec",
            "specificationType": "msg",
            "items": [
                {
                    "type": "int16be",
                    "name": "item1",
                    "offset": 0,
                    "length": 1,
                    "offsetbit": 0,
                    "scale": "0.1",
                    "mask": ""
                }
            ],
            "swap1": "",
            "swap2": "",
            "swap3": "",
            "swap1Type": "swap",
            "swap2Type": "swap",
            "swap3Type": "swap",
            "msgProperty": "payload",
            "msgPropertyType": "str",
            "resultType": "keyvalue",
            "resultTypeType": "return",
            "multipleResult": false,
            "fanOutMultipleResult": false,
            "setTopic": true,
            "outputs": 1,
            "x": 1370,
            "y": 340,
            "wires": [
                [
                    "s063e35cyi81oul7"
                ]
            ]
        },
        {
            "id": "q13zmxvdi2j9nzp9",
            "type": "switch",
            "z": "4d33ee5fd63100e9",
            "name": "Config correct",
            "property": "device.node",
            "propertyType": "flow",
            "rules": [
                {
                    "t": "istype",
                    "v": "object",
                    "vt": "object"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 1,
            "x": 160,
            "y": 320,
            "wires": [
                [
                    "uskr2fqak9whcga7",
                    "cujokypvgroci3qz"
                ]
            ]
        },
        {
            "id": "s063e35cyi81oul7",
            "type": "function",
            "z": "4d33ee5fd63100e9",
            "name": "Set sensor value on device",
            "func": "var device = global.get(\"cloud.devices\").find(device => {\n    return device.node.id === flow.get(\"device\").node.id\n})\n\nfor (var propertyName in msg.payload) {\n    if (typeof msg.payload[propertyName] === 'number') {\n        // Round to 2 decimal\n        msg.payload[propertyName] = Math.round((msg.payload[propertyName] + Number.EPSILON) * 100) / 100\n    }\n    if (msg.dataPoint.protocol.type === \"bool\" && msg.dataPoint.protocol.isError) {\n        device.errors[propertyName] = msg.payload[propertyName];\n        flow.get(\"device\").errors[propertyName] = msg.payload[propertyName];\n    } \n    if (msg.dataPoint.protocol.type === \"bool\") {\n        device.states[propertyName] = msg.payload[propertyName];\n        flow.get(\"device\").states[propertyName] = msg.payload[propertyName];\n    } else {\n        device.sensors[propertyName] = msg.payload[propertyName];\n        flow.get(\"device\").sensors[propertyName] = msg.payload[propertyName];\n    }\n}\n\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 1600,
            "y": 380,
            "wires": [
                []
            ]
        },
        {
            "id": "56qh0i0uuu2ivu3k",
            "type": "inject",
            "z": "4d33ee5fd63100e9",
            "name": "Read intervall",
            "props": [
                {
                    "p": "payload"
                },
                {
                    "p": "topic",
                    "vt": "str"
                }
            ],
            "repeat": "20",
            "crontab": "",
            "once": true,
            "onceDelay": "10",
            "topic": "",
            "payload": "",
            "payloadType": "date",
            "x": 160,
            "y": 260,
            "wires": [
                [
                    "q13zmxvdi2j9nzp9"
                ]
            ]
        },
        {
            "id": "cujokypvgroci3qz",
            "type": "function",
            "z": "4d33ee5fd63100e9",
            "name": "send data based on config channel 2",
            "func": "msg.payload = \"\";\n\nmsg.sequences = flow.get(\"device.data\").filter(dataPoint => dataPoint.protocol.channel === 2).map(dataPoint => {\n    return { \n        dataPoint: dataPoint,\n        name: dataPoint.id, \n        fc: dataPoint.protocol.fc, \n        address: dataPoint.protocol.address, \n        unitid: flow.get(\"device.node.unitId\"), \n        quantity: global.get(\"function.typeToRegisterLength\")(dataPoint.protocol.type)\n    };\n});\n\nif (msg.sequences.length > 0){\n    node.send(msg);\n} else {\n    node.done();\n}\n\nnode.done();\n",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 430,
            "y": 380,
            "wires": [
                [
                    "x5g46fp8i7hlmvmk"
                ]
            ]
        },
        {
            "id": "t1i7rtiuim57fpo6",
            "type": "function",
            "z": "4d33ee5fd63100e9",
            "name": "Set parameters channel 2",
            "func": "const protocolParameter = flow.get(\"device.protocol\");\nconst channel = global.get(\"device.interface.serial.channels\").find(channel => channel.id === 2);\n\nif (channel && protocolParameter.channel === 2) {\n    msg.payload = {\n        \"connectorType\": channel.connectorType,\n        \"serialPort\": channel.serialPort,\n        \"serialBaudrate\": protocolParameter.serialBaudrate ? protocolParameter.serialBaudrate : 19200,\n        \"serialDatabits\": protocolParameter.serialDatabits ? protocolParameter.serialDatabits : 8,\n        \"serialStopbits\": protocolParameter.serialStopbits ? protocolParameter.serialStopbits : 1,\n        \"serialParity\": protocolParameter.serialParity ? protocolParameter.serialParity : \"none\",\n        \"serialType\": protocolParameter.serialType ? protocolParameter.serialType : \"RTU-BUFFERD\",\n        \"serialConnectionDelay\": protocolParameter.serialConnectionDelay ? protocolParameter.serialConnectionDelay : 100,\n        \"unitId\": protocolParameter.unitId ? protocolParameter.unitId : 1,\n        \"commandDelay\": protocolParameter.commandDelay ? protocolParameter.commandDelay : 5,\n        \"clientTimeout\": protocolParameter.clientTimeout ? protocolParameter.clientTimeout : 1000,\n        \"reconnectTimeout\": protocolParameter.reconnectTimeout ? protocolParameter.reconnectTimeout : 2000\n    };\n\n    node.send(msg);\n} else {\n    node.done()\n}\n\nnode.done()\n",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 810,
            "y": 120,
            "wires": [
                [
                    "mfrlg1iwk1u5ot6a"
                ]
            ]
        },
        {
            "id": "5iopqfibbab6tzy8",
            "type": "function",
            "z": "4d33ee5fd63100e9",
            "name": "Set state data point values",
            "func": "if (msg.dataPoint.protocol.type === \"bool\") {\n    var payload = {};\n    payload[msg.name] = msg.payload[msg.dataPoint.protocol.offsetbit];\n\n    if (msg.dataPoint.protocol.invert) {\n        payload[msg.name] = !payload[msg.name];\n    }\n\n    msg.payload = payload;\n\n    node.send(msg);\n}\n\nnode.done();\n",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 1040,
            "y": 380,
            "wires": [
                [
                    "s063e35cyi81oul7"
                ]
            ]
        },
        {
            "id": "n69zuaybfobapm9d",
            "type": "function",
            "z": "4d33ee5fd63100e9",
            "name": "send write data channel 1",
            "func": "if (msg.payload.dataPoint.protocol.channel === 1){\n    if (msg.payload.dataPoint.protocol.type === \"bool\"){\n        if (msg.payload.dataPoint.protocol.invert){\n            msg.payload.value = !msg.payload.value;\n        }\n        msg.payload = {\n            \"value\": msg.payload.value,\n            \"fc\": 5,\n            \"unitid\": flow.get(\"device.node.unitId\"),\n            \"address\": msg.payload.dataPoint.protocol.address,\n            \"quantity\": 1\n        } \n    } else {\n        msg.payload = {\n            \"value\": parseInt(msg.payload.value) * (1 / msg.payload.dataPoint.protocol.scale),\n            \"fc\": 16,\n            \"unitid\": flow.get(\"device.node.unitId\"),\n            \"address\": msg.payload.dataPoint.protocol.address,\n            \"quantity\": global.get(\"function.typeToRegisterLength\")(msg.payload.dataPoint.protocol.type)\n        } \n    }\n\n    node.send (msg);\n}\n\nnode.done();\n\n",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 390,
            "y": 680,
            "wires": [
                [
                    "cii1t1iwf7orv2re"
                ]
            ]
        },
        {
            "id": "cii1t1iwf7orv2re",
            "type": "modbus-flex-write",
            "z": "4d33ee5fd63100e9",
            "name": "Channel 1",
            "showStatusActivities": true,
            "showErrors": true,
            "showWarnings": true,
            "server": "fbvjk0r298auh66k",
            "emptyMsgOnFail": false,
            "keepMsgProperties": true,
            "delayOnStart": false,
            "startDelayTime": "",
            "x": 750,
            "y": 680,
            "wires": [
                [
                    "q13zmxvdi2j9nzp9",
                    "j5mv5zqjtahtx5r1"
                ],
                []
            ]
        },
        {
            "id": "cdvwl5x41wk603tf",
            "type": "modbus-flex-write",
            "z": "4d33ee5fd63100e9",
            "name": "Channel 2",
            "showStatusActivities": true,
            "showErrors": true,
            "showWarnings": true,
            "server": "pjbpwrb1m8xi4dzf",
            "emptyMsgOnFail": false,
            "keepMsgProperties": true,
            "delayOnStart": false,
            "startDelayTime": "",
            "x": 750,
            "y": 720,
            "wires": [
                [
                    "q13zmxvdi2j9nzp9",
                    "j5mv5zqjtahtx5r1"
                ],
                []
            ]
        },
        {
            "id": "509eephe6ryqqpdf",
            "type": "function",
            "z": "4d33ee5fd63100e9",
            "name": "send write data channel 2",
            "func": "if (msg.payload.dataPoint.protocol.channel === 2){\n    if (msg.payload.dataPoint.protocol.type === \"bool\"){\n        if (msg.payload.dataPoint.protocol.invert){\n            msg.payload.value = !msg.payload.value;\n        }\n        msg.payload = {\n            \"value\": msg.payload.value,\n            \"fc\": 5,\n            \"unitid\": flow.get(\"device.node.unitId\"),\n            \"address\": msg.payload.dataPoint.protocol.address,\n            \"quantity\": 1\n        } \n    } else {\n        msg.payload = {\n            \"value\": parseInt(msg.payload.value) * (1 / msg.payload.dataPoint.protocol.scale),\n            \"fc\": 16,\n            \"unitid\": flow.get(\"device.node.unitId\"),\n            \"address\": msg.payload.dataPoint.protocol.address,\n            \"quantity\": global.get(\"function.typeToRegisterLength\")(msg.payload.dataPoint.protocol.type)\n        } \n    }\n\n    node.send (msg);\n}\n\nnode.done();\n\n",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 390,
            "y": 720,
            "wires": [
                [
                    "cdvwl5x41wk603tf"
                ]
            ]
        },
        {
            "id": "j5mv5zqjtahtx5r1",
            "type": "delay",
            "z": "4d33ee5fd63100e9",
            "name": "",
            "pauseType": "delay",
            "timeout": "10",
            "timeoutUnits": "seconds",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 1040,
            "y": 680,
            "wires": [
                [
                    "eylffacn8sydpm5s"
                ]
            ]
        }
    ]
}